body {
  text-align: center;
  background-color: gray;
}
div {
    margin-top: 15px;
  }
  
  .image-section {
    position: relative;
    display: flex;
    justify-content: center;
  }
  
  .section-style {
    position: relative;
    margin-right: 500px;
    margin-left: 500px;
    background-color: gray;
  }