body {
  text-align: center;
  background-color: #696969;
}
div {
    margin-top: 15px;
  }
  
  .black-link {
    display: inline-block;
    padding: 3px 5px;
    border: 1px solid #000;
    background: #eee;
}


  .image-section {
    position: relative;
    display: flex;
    justify-content: center;
  }
  
  .section-style {
    position: relative;
    margin-right: 500px;
    margin-left: 500px;
    background-color: gray;
  }